body {
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.6;
    color: #86795b;
    background-color: #fde5a9;
}

.logo {
    font-weight: normal;
    font-size: 25px;
}

h2 {
    font-weight: lighter;
    font-size: 18px;
}

h3 {
    font-weight: bold;
    font-size: 18px;
}

button {
    color: #86795b;
}

button:hover {
    color: #ff8e3e;
}

.section {
    padding: 120px 5%;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 10px;
    left: 20px;
    right: 20px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    color: #fff;
    z-index: 999;
}

.nav {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav li a {
    text-decoration: none;
    color: #fff;
}

.nav li a:hover {
    color: #68717a;
}

/* ハンバーガーボタン */
.menu-btn {
    position: static;
    height: 24px;
    width: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
}

.menu-btn span {
    display: block;
    height: 3px;
    background: #fff;
    transition: 0.3s;
}

/* ×変形 */
.menu-btn.open span:nth-of-type(1) {
    transform: translateY(10px) rotate(45deg);
}

.menu-btn.open span:nth-of-type(2) {
    opacity: 0;
}

.menu-btn.open span:nth-of-type(3) {
    transform: translateY(-10px) rotate(-45deg);
}

/* メニュー本体 */
.menu {  
    display: none;
}

.menu.open {
    display: block;
}

.menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-item a {
    display: block;
    text-decoration: none;
    color: #86795b;
    font-size: 20px;
    padding: 5px 0;
}

.menu-item a:hover {
    color: #fff;
}

/* Heroセクション */
.hero {
    height: 100vh;
    padding: 40px;
    background-image: url("../img/mainvisual.png");
    background-size: cover;
    background-position: center;
}

/* Aboutセクション */
.lace {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.profile-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 50px 0;
}

.profile-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.profile-content {
    text-align: left;
    padding: 20px;
    order: 1; 
}

.name {
    font-size: 25px;
    margin-bottom: 20px;
}

.profile-photo {
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    order: 2; 
}

.light-item {
    height: 50px;
    position: absolute;
    top: 0;
    right: -35px;
}

.flower-item {
    height: 230px;
    object-fit: cover;
    transform: translateX(-120px);
}

/* Skillsセクション */
#skills{
    text-align: center;
    background-image: url("../img/divider-bg.png");
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 50px;
    width: 100%;
    margin-top: 30px;
}

.card {
    overflow: hidden;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(20px);
    border: 1px solid #ddd;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 100px;
    padding: 20px;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}

.card-img img {
    width: 50px;
    height: 30px;
    object-fit: contain;
    transition: 0.3s;
}

.card:hover img {
    transform: scale(1.1);
}

/* Worksセクション */
#works {
    text-align: center;
    background-image: url(../img/cards-bg.png);
    background-size: contain;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.light-point {
    height: 60px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: 220px;
}

.work-btns {
    display: flex;
}

.work-btn {
    border: 1px solid #ddd;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 80px;
    padding: 10px 20px;
    margin-right: 10px;
}

.work-btn.active {
  color: #ff8e3e;
}

.work-card {
    margin-top: 10px;
    border: 1px solid #ddd;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 30px;
    display: none;
}

.work-card.active {
    display: flex;
}

.port-scroll {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 350px;
	height: 300px;
    margin-right: 50px;
}

.port-scroll img {
  width: 100%;
  height: auto;
  display: block;
}

.work-content {
    text-align: left;
}

.work-content h3:nth-of-type(2) {
    margin-top: 20px;
}

/* Contactセクション */
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/contact-bg.jpg);
    background-size: cover;
    background-position: right;
}

.contact-form {
    border: 1px solid #ddd;
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    text-align: left;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-red {
    color: red;
    font-size: 10px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
}

.contact-form input,
.contact-form textarea {
    border: 1px solid #86795b;
}

input:focus,
textarea:focus {
    outline: none;
    border: 1px solid #86795b;
    box-shadow: 0 0 5px rgba(134, 121, 91, 0.3);
}

.submit-btn {
    padding: 12px;
    background: #333;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

/* footer */
footer {
    text-align: center;
    background-color: #a39678;
    color: #fff;
    font-weight: lighter;
}

/* tpoへ戻るボタン*/
.to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: #86795b;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 1000;
}

.to-top.show {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1024px) {

  .section {
    padding: 100px 5%;
  }
  
  .header {
    left: 15px;
    right: 15px;
    padding: 10px 15px;
  }

  .hero {
    height: 80vh;
  }

  .profile-card {
    flex-direction: column;
    text-align: center;
  }

  .profile-content {
    order: 2;
  }

  .profile-photo {
    align-items: center;
    order: 1; 
  }

  .light-item {
    right: 0;
  }

  .flower-item {
    transform: translateX(0);
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .work-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .port-scroll {
    margin-right: 0;
    margin-bottom: 20px;
    width: 300px;
	height: 450px;
  }

  .light-point {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {

  body {
    font-size: 15px;
  }

  .logo {
    font-size: 18px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
  }

  .header {
    left: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 20px;
  }

  .hero {
    padding: 40px;
    background-image: url("../img/mainvisual-sp.png");
    background-size: cover;
    background-position: center;
    height: 60vh;
    padding: 20px;
}

  .section {
    padding: 80px 5%;
  }

  .menu-btn {
    display: flex;
    left: auto;
    right: 20px;
  }

  .menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    z-index: 999;
  }

  .menu-item a {
    font-size: 16px;
  }

  .menu.open {
    display: block;
  }

  .nav {
    display: none;
  }

  .nav li a {
    color: #333;
  }

  /* About */
  .profile-img {
    width: 220px;
    height: 220px;
  }

  .profile-content .name {
    font-size: 23px;
  }

  .profile-content {
    text-align: center;
    order: 2;
  }

  .profile-content p {
    font-size: 14px;
  }

   .profile-photo {
    order: 1; 
  }

  .flower-item {
    height: 120px;
    transform: translateX(0);
  }


  /* Skills */
  .cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .card {
    border-radius: 50px;
    padding: 15px;
  }

  /* Works */
  .work-btns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .work-btn {
    flex: 1 1 auto;
    text-align: center;
    white-space: nowrap;
  }

  .work-card {
    padding: 20px;
  }

  .port-scroll {
    width: 100%;
    height: 280px;
  }

  .light-point {
    height: 50px;
    margin-right: 0;
    margin-bottom: 10px;
}

  /* Contact */
  .contact-form {
    padding: 20px;
  }

  input,
  textarea {
    font-size: 14px;
  }

  .submit-btn {
    width: 100%;
  }
}
